.default-color0.chart-pie { -fx-pie-color: LimeGreen ; }
.default-color1.chart-pie { -fx-pie-color: #ff5700; }
.default-color2.chart-pie { -fx-pie-color: lightblue; }
.default-color3.chart-pie { -fx-pie-color: #ffa500; }

.chart-pie-label-line {
    -fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}

.chart-pie-label {
    -fx-fill: #8b4513;
    -fx-font-size: 1em;
}
.chart-legend {
    -fx-background-color:  #fafad2;
    -fx-stroke: #daa520;
}
.chart-plot-background {
    -fx-background-color: transparent;
}


.default-color0.chart-bar { -fx-bar-fill: LimeGreen ; }
.default-color1.chart-bar { -fx-bar-fill: #ff5700; }
.default-color2.chart-bar { -fx-bar-fill: #22bad9; }
.default-color3.chart-bar { -fx-bar-fill: #0181e2; }
.default-color4.chart-bar { -fx-bar-fill: #2f357f; }
.default-color5.chart-bar { -fx-bar-fill: #860061; }
.default-color6.chart-bar { -fx-bar-fill: #c62b00; }
.default-color7.chart-bar { -fx-bar-fill: #ff5700; }
.chart-bar {
    /*-fx-background-color: rgba(0,168,355,0.05);
    -fx-border-color: rgba(0,168,355,0.3) rgba(0,168,355,0.3)
    transparent rgba(0,168,355,0.3);
    -fx-background-radius: 0;
    -fx-background-position: left center;*/

}
.chart{
    -fx-background-color: white;
}
.data0.chart-bar {

}
.data1.chart-bar {

}
.data2.chart-bar {

}

.default-color5.chart-symbol { /* hollow circle */
    -fx-background-color: #860061, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.chart-symbol {
    -fx-padding: 2px;
}

